In [1]:
from simfin import simulator, replicator

In [2]:
x = simulator(2021,2030)

In [3]:
x.simulate()

In [4]:
x.macro.aggr

,Y,Yp,H,E,N,infl,YperH,sp500,b1yr,b5yr,...,b30yr,gr_wage,gr_Y,gr_H,gr_Yp,gr_YperH,gr_wage_p,gr_YperH_p,gr_N,gr_E
2021,474800.450758,471622.511539,1616806.802043,4104104.675086,8478492.841146,0.030807,0.293666,0.075103,-0.003001,0.01219,...,0.034596,-0.016017,0.074209,0.090226,0.067019,-0.046823,0.065807,0.035000,-0.011205,0.001099
2022,469368.914662,465244.627566,1515470.926491,4106224.116298,8528265.486811,0.037895,0.309718,-0.029092,0.003367,0.013497,...,0.033684,0.051237,-0.01144,-0.062677,-0.013523,0.013342,0.067270,0.029375,0.005870,0.000516
2023,496263.806167,479166.930783,1556208.434199,4109757.378132,8571435.357161,0.024351,0.318893,-0.023849,0.00735,0.014169,...,0.033056,0.030419,0.0573,0.026881,0.029925,0.006068,0.048101,0.023750,0.005062,0.000860
2024,496371.419698,489954.967849,1514028.823922,4114226.581829,8620849.573095,0.047258,0.327848,0.31273,0.012155,0.016061,...,0.033629,0.027321,0.000217,-0.027104,0.022514,-0.019937,0.065383,0.018125,0.005765,0.001087
2025,510738.380149,500294.750248,1568312.319376,4122205.154011,8668974.091905,0.022763,0.325661,0.106459,0.016116,0.019469,...,0.035563,-0.00691,0.028944,0.035854,0.021104,-0.029673,0.035263,0.012500,0.005582,0.001939
2026,517422.577179,497346.732854,1477322.205109,4134771.267868,8716103.107638,0.027238,0.350244,0.453114,0.012372,0.018704,...,0.035539,0.071105,0.013087,-0.058018,-0.005893,0.043868,0.039738,0.012500,0.005437,0.003048
2027,527203.198055,522797.675414,1467987.832961,4147078.905645,8765251.221693,0.022552,0.359133,0.102754,0.011659,0.01537,...,0.034339,0.025221,0.018903,-0.006318,0.051173,0.002669,0.035052,0.012500,0.005639,0.002977
2028,549633.010285,554012.383771,1571897.56407,4161408.668771,8812406.067776,0.021056,0.349662,-0.025166,0.003529,0.015583,...,0.037057,-0.028239,0.042545,0.070784,0.059707,-0.049295,0.033556,0.012500,0.005380,0.003455
2029,543858.967716,552392.681103,1489123.998962,4176851.06609,8858905.387996,0.022781,0.365221,-0.069837,0.007735,0.019997,...,0.039929,0.042153,-0.010505,-0.052658,-0.002924,0.019372,0.035281,0.012500,0.005277,0.003711

In [5]:
x.revenue.report

,2021,2022,2023,2024,2025,2026,2027,2028,2029
personal_taxes,31146.478945,31692.800430,33141.211763,34633.192831,35881.564693,36512.420996,38627.338943,41049.761310,41788.342448
personal_credits_other,1548.244942,1527.307590,1573.011802,1608.426829,1642.370323,1632.692555,1716.243048,1818.714862,1813.397693
personal_credits_family,3770.023761,4016.133034,4206.562335,4452.589779,4587.043809,4783.855461,4772.547237,4807.538019,4853.121015
corporate_taxes,7047.662192,6952.354672,7160.401760,7321.612133,7476.124039,7432.070521,7812.395127,8278.850214,8254.646287
corporate_credits,2136.172552,2107.284490,2170.344334,2219.207796,2266.040928,2252.688143,2367.965942,2509.350209,2502.013909
fss,6959.099593,6864.989731,7070.422449,7229.607014,7382.177288,7338.677357,7714.222713,8174.816215,8150.916439
property_taxes,1642.142636,1619.935479,1668.411553,1705.974424,1741.976517,1731.711814,1820.329463,1929.015970,1923.376326
consumption,22978.901979,24758.240871,26186.553735,28155.824145,29406.687233,30894.244028,32271.440687,33648.976266,35147.119759
permits,4838.932330,4773.494086,4916.339437,5027.026650,5133.114689,5102.867497,5363.998774,5684.267331,5667.648889
gov_enterprises,4715.158096,4651.393686,4790.585220,4898.441183,5001.815614,4972.342110,5226.793954,5538.870416,5522.677054
miscellaneous_income,9411.109846,9283.840758,9561.656854,9776.929449,9983.257233,9924.430280,10432.297505,11055.179242,11022.858478

In [6]:
x.missions.report

,2021,2022,2023,2024,2025,2026,2027,2028,2029
health,49111.656549,51337.872201,56267.925335,60087.267095,64420.635638,68284.216102,72654.517214,78894.304755,81560.717021
education,27920.431283,28579.768660,30855.727190,32311.281412,33952.439465,35242.365885,36620.785623,39011.028604,39443.823464
economy,18451.964009,18202.432906,18747.135145,19169.210993,19573.749131,19458.409618,20454.163351,21675.421160,21612.051209
family_credit,3770.023761,4016.133034,4206.562335,4452.589779,4587.043809,4783.855461,4772.547237,4807.538019,4853.121015
family_kg,2917.112443,3114.677964,3272.066149,3494.323294,3621.431563,3764.642688,3891.046466,4013.282714,4142.384414
family_other,4979.778872,4912.435920,5059.439063,5173.348043,5282.523981,5251.396385,5520.128396,5849.718993,5832.616839
justice,10139.883998,10002.759493,10302.089012,10534.031809,10756.337130,10692.954756,11240.150021,11911.266251,11876.442644

In [7]:
numbers = [4, 5, 7, 1, 3, 6, 9, 8, 0]
output = numbers.sort()
print("The Value in the output variable is:", output)
print(output[0])

The Value in the output variable is: None

TypeError: 'NoneType' object is not subscriptable

In [ ]:
numbers.type

In [ ]:
x.pop.head()

In [ ]:
mc = replicator(nreps=100,ncpus=8)

In [ ]:
mc.set_model(x)

In [ ]:
mc.replicate()

In [ ]:
mc.stats