In [1]:
import pandas as pd

In [2]:
pop = pd.read_pickle('../simfin/params/simpop.pkl')

In [5]:
s = pd.read_pickle('../simfin/params/hlth_exp.pkl')
g = pd.read_pickle('../simfin/params/hlth_gr.pkl')

In [7]:
pop.merge(s,left_index=True, right_index=True)

                 gr
age male
0   False  0.021117
    True   0.014941
1   False  0.023235
    True   0.025477
2   False  0.024205
...             ...
107 True   0.003466
108 False  0.015215
    True   0.003466
109 False  0.015215
    True   0.003466

[220 rows x 1 columns]